.box {
  transform-style: preserve-3d;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.box:hover {
  transform: translate(-5px, -5px);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.shadow:before {
  content: '';
  position: absolute;
  inset: 0;
  transform: translate3d(10px, 10px, -1px);
  background: conic-gradient(
    from 90deg at 40% -25%,
    #0d72ad,
    #1d74c6,
    #2d7ddf,
    #3d94f8,
    #4e66ff,
    #5facff,
    #71a3ff,
    #83c9ff,
    #71aaff,
    #5fa2ff,
    #4e9bff,
    #3d8ef8,
    #2d83df,
    #1d55c6,
    #0d48ad,
    #0d45ad,
    #0d35ad
  );
  border-radius: 15px;
  filter: blur(1px);
}
